/* --------------------------------

DASHBOARD HOME PAGE

----------------------------------*/

/* Dashboard image */

 .dash {

    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  /* Application Logo */

  .logo {

    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .rightBorder {

    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #585858;
    overflow-x: hidden;
    padding-top: 20px;

  }

  .sidenav {

    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #585858;
    overflow-x: hidden;
    padding-top: 20px;

  }

  .sidenav a {

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    color:white;
    text-align: center;
    background-color: #D72C2C;
    margin:5px;

  }

  .sidenav a:hover {

    color: #D72C2C;
    background-color: #F9F030;

  }

  .dashButton {

    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding:5px;
    text-decoration:none;
    text-align:center;

  }


  /* --------------------------------

  GENERAL

  ----------------------------------*/


  a {

    font-family: arial;
    margin:auto;

  }

  h1, h2  {

    font-family: Helvetica;
    text-align:center;

  }

  blockquote {

    background-color: MediumSeaGreen;
    color: white;
    width: 240px;
    padding: 5px;
    border-style: solid;
    border-color: #004d00;
    font: arial;
    margin: auto;
    text-align: center;

  }


  /* --------------------------------

  SEARCH FEATURES

  ----------------------------------*/

  .search {

    background-color:  #e0e0eb;
    text-align:center;
    padding: 15px;
    width: 200px;
    margin: 10px auto 10px auto;

  }

  #searchInput {

     font-size: 16px;
     padding: 12px 20px 12px 20px;
     border: 1px solid #ddd;
     width:20%;
     display:block;
     margin: 10px auto 10px auto;

   }

   #searchIssueInput {

      font-size: 16px;
      padding: 12px 20px 12px 20px;
      border: 1px solid #ddd;
      width:20%;
      display:block;
      margin: 10px auto 10px auto;

  }


  /* --------------------------------

  EDIT / DELETE FEATURES

  ----------------------------------*/



.editContainer, .deleteContainer {

  background-color:white;
  border-style:none;

}

.deleteButton {

  border-style:solid;
  border-color:#ff5c33;
  background-color:white;
  text-decoration:none;
  padding: 3px 6px;
  color: #ff3300;

}

.deleteContainer a:hover {

  border-color:#ff5c33;
  background-color:#e62e00;
  text-decoration:none;
  padding: 3px 6px;
  color: white;

}

.editButton {

  border-style:solid;
  border-color: #70db70;
  background-color:white;
  text-decoration:none;
  padding: 3px 6px;
  color: #00b300;

}

.editContainer a:hover {

  border-style:solid;
  border-color: #70db70;
  background-color: #2eb82e;
  text-decoration: none;
  padding: 3px 6px;
  color: white;

}



/* --------------------------------

BACK BUTTONS

For update_designs/update_issues.php

----------------------------------*/


 #backButton, #backButtonDesigns {

   text-decoration: none;
   font-size: 14px;
   color: #818181;
   display: block;
   color:white;
   text-align: center;
   background-color: #D72C2C;
   margin:10px auto 10px auto;
   border:none;
   padding:8px 16px;

}

 #backButton:hover, #backButtonDesigns:hover {

   text-decoration: none;
   font-size: 14px;
   color: #D72C2C;
   display: block;
   text-align: center;
   background-color: #F9F030;
   border:none;

 }


  /* --------------------------------

  CREATE FORMS

  ----------------------------------*/


  .createForm {

    background-color:  #e0e0eb;
    padding: 10px;
    width: 150px;
    margin:auto;

  }

  label {

  	display: block;
  	margin: 5px 0;
    font-family: arial;

  }


  /* --------------------------------

  DESIGNS AND DESIGN ISSUES RESULTS
  TABLE LISTS

  ----------------------------------*/


  td, th {

  	padding: 5px;
  	border-bottom: 1px solid #aaa;
    font-family:arial;

  }

  table#list, table#listIssue {

    margin:auto;
    width:72%;
    margin-top:33px;

  }

  #list th, #listIssue th {

  	background: #1A68B8;
  	color: #FFFFFF;
  	padding: 7px;

  }

  #list td, #listIssue td {

  	padding: 7px;
  	text-align: center;

  }

  #list tr, #listIssue tr {

  	background: #EEEEEE;
    width:100%;

  }
